.createuserform {
    border: 1px solid black;
    height: 350px;
    width: 350px;
    margin-top: 50px;
    border-radius: 5px;


    Form {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .input-group {

            display: flex;
            justify-content: space-around;

            label {
                font-size: 18px;
                font-weight: 600;
            }

            input {
                border-bottom: 1px solid #4285f4;
                
                border-top: none;
                border-left: none;
                border-right: none;
                outline: none;
            }

        }

        .btn-group {
            button {
                outline: none;
                background-color: #4285f4;
                border: none;
                padding: 5px 15px;
                color: white;
                border-radius: 50px;
            }
        }



    }

}